.text-field {
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;



}
input[type="text"] {
    color: #0000ff;
}
.colorChange:hover{
    -fx-background-color: #11a0a3;
    //-fx-accent: #0093ff;
}
.colorChange:focused{
    -fx-background-color: #a4a2ac;
    /*-fx-accent: #acff88;*/
    /*-fx-background-color:*/
            /*-fx-shadow-highlight-color,*/
            /*linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),*/
            /*linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),*/
            /*linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    /*-fx-background-insets: 0 0 -1 0, 0, 1, 1;*/
    /*!* TODO: -fx-text-fill should be derived *!*/
    /*-fx-text-fill: -fx-light-text-color;*/

}
/*.text-field {*/
    /*-fx-prompt-text-fill: white;*/
    /*-fx-font-weight: bold;*/
/*}*/

/*.dash-button{*/

/*}*/

.button-save{
    -fx-background-color: #ffffff;
    -fx-border-color: #0d9035;
    -fx-text-fill: #0d9035;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-save:hover{
    -fx-background-color: #14ff5c;
    -fx-border-color: #14ff5c;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-update{
    -fx-background-color: #ffffff;
    -fx-border-color: #ff9f0a;
    -fx-text-fill: #ff9f0a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-update:hover{
    -fx-background-color: #ff9f0a;
    -fx-border-color: #ff9f0a;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-remove{
    -fx-background-color: #ffffff;
    -fx-border-color: #ff422b;
    -fx-text-fill: #ff422b;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-remove:hover{
    -fx-background-color: #ff422b;
    -fx-border-color: #ff422b;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-search{
    -fx-background-color: #ffffff;
    -fx-border-color: #538eff;
    -fx-text-fill: #538eff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button-search:hover{
    -fx-background-color: #538eff;
    -fx-border-color: #538eff;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}